.header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    border-bottom: 1px solid var(--white-50-alpha-10);
    z-index: 1;
}

.header__logo {
    font-size: var(--font-size-lg);
    font-weight: var(--font-semibold);
    color: var(--text-light);
}
